/* ------------------------------ FONTS  */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
  background-color: #f2f2f2;
  }

/* ------------------------------ COLORS  */

/* Color Theme Swatches in Hex */
.Yellow-Town-1-hex {
  color: #979fa6;
}
.Yellow-Town-2-hex {
  color: #f2bd1d;
}
.Yellow-Town-3-hex {
  color: #f2921d;
}
.Yellow-Town-4-hex {
  color: #f2f2f2;
}
.Yellow-Town-5-hex {
  color: #0d0d0d;
}

/* -------------------- SETTING OUT PAGE LAYOUT */

#hero-image-box {
  background-color: #979fa6;
  height: 300px;
  text-align: center;
  padding: 100px;
}

#introduction-box {
  background-color:  #0d0d0d;
  color: #f2f2f2;
  text-align: justify;
  padding: 30px;
}

#google-maps-box {
  background-color: #f2f2f2;
  height: 510px;
  text-align: center;
  padding: 10px;
}

#weather-box {
  background-color: #f2f2f2;
  height: 300px;
  text-align: center;
  padding: 100px;
}

#footer-box {
  background-color: #0d0d0d;
  text-align: center;
  padding: 30px;
  font-size: 80%;
}

/* ------------------------------ LOGO  */

#logo {
  height: 50px;
  width: 50px;
}

/* ------------------------------- NAV BAR */
#navbar{
transition: top 0.5s;
}



/* ------------------------- HERO IMAGE */

#main-image-container {
  background: url("../img/stafford_images/church_lane_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.jumbotron {
  background: transparent;
}

.hero-image-text {
  padding-top: 75px;
  font-size: 300%;
  color: #f2bd1d;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}

/* ------------------------- PLACES TO BOXES */

/* TAB WIDET */

#tabs {
  font-family: "Bebas Neue", cursive;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #0d0d0d;
}

/*OPTION BOXES */

.places-to-box {
  border: 1px solid #0d0d0d;
  margin: 10px;
  padding: 20px;
  text-align: center;
  height: 300px;
  width: 100%;
  background: #f2f2f2;
  color: #0d0d0d;
}

.places-to-box a{
  color: #0d0d0d; 
}

.places-to-box a:hover{
  color: #0d0d0d;
  text-decoration: underline;
}

.view-on-map-marker{
    background: #f2f2f2;
    color: #0d0d0d;
}

.view-on-map-marker-hover{
    background: #0d0d0d;
    color: #f2f2f2;
}

/*MAP BUTTONS */

.ui-widget button {
  font-family: "Bebas Neue", cursive;
  font-size: 100%;
}

.map-button {
  border: 1px solid#0d0d0d;
  margin: 10px;
  padding: 20px;
  text-align: center;
  height: 100px;
  width: 100%;
  background: #0d0d0d;
  color: #f2f2f2;
}


/* ------------------------- MAP  */
#map {
  height: 490px;
}

/* ------------------------- WEATHERBOX */

.weatherbox1 {
  background-color: #f2f2f2;
  margin: 0px;
  padding: 20px;
  width: 25%;
  font-size: 70%;
  border: 1px solid #0d0d0d;
  text-align: center;
}

.weather-date {
  font-size: 200%;
}

.weather-temp {
  font-size: 500%;
}

.celsius{
    font-size: 200%;
}

.weather-description {
  font-size: 200%;
}

.weather-message {
  font-size: 200%;
}

.info-window-link{
    font-family: "Bebas Neue", cursive;
    text-decoration: none;
    font-size: 150%;
    color: #0d0d0d;
}

.info-window-link:hover{
    font-family: "Bebas Neue", cursive;
    text-decoration: underline;
    font-size: 150%;
    color: #0d0d0d;
}

.footer-text{
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    
}

.footer-text:hover{
    text-align: center;
    color: #f2f2f2;
    text-decoration: underline;
}