/* ------------------------------ FONTS  */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
  background-color: #f2f2f2;
  }

/* ------------------------------ COLORS  */

/* Color Theme Swatches in Hex */
.Yellow-Town-1-hex {
  color: #979fa6;
}
.Yellow-Town-2-hex {
  color: #f2bd1d;
}
.Yellow-Town-3-hex {
  color: #f2921d;
}
.Yellow-Town-4-hex {
  color: #f2f2f2;
}
.Yellow-Town-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Yellow-Town-1-rgba {
  color: rgba(151, 159, 166, 1);
}
.Yellow-Town-2-rgba {
  color: rgba(242, 189, 29, 1);
}
.Yellow-Town-3-rgba {
  color: rgba(242, 146, 29, 1);
}
.Yellow-Town-4-rgba {
  color: rgba(242, 242, 242, 1);
}
.Yellow-Town-5-rgba {
  color: rgba(13, 13, 13, 1);
}

/* Color Theme Swatches in HSLA */
.Yellow-Town-1-hsla {
  color: hsla(208, 7, 62, 1);
}
.Yellow-Town-2-hsla {
  color: hsla(45, 89, 53, 1);
}
.Yellow-Town-3-hsla {
  color: hsla(32, 89, 53, 1);
}
.Yellow-Town-4-hsla {
  color: hsla(0, 0, 94, 1);
}
.Yellow-Town-5-hsla {
  color: hsla(0, 0, 5, 1);
}

/* -------------------- SETTING OUT PAGE LAYOUT */

#hero-image-box {
  background-color: #979fa6;
  height: 300px;
  text-align: center;
  padding: 100px;
}

#introduction-box {
  background-color: #f2f2f2;
  text-align: justify;
  padding: 30px;
}

#google-maps-box {
  background-color: #f2f2f2;
  height: 510px;
  text-align: center;
  padding: 10px;
}

#weather-box {
  background-color: #f2f2f2;
  height: 300px;
  text-align: center;
  padding: 100px;
}

#footer-box {
  background-color: #0d0d0d;
  height: 300px;
  text-align: center;
  padding: 100px;
}

/* ------------------------------ LOGO  */

#logo {
  height: 50px;
  width: 50px;
}

/* ------------------------------- NAV BAR */

.navbar{
    
    text-decoration: none;
    font-size: 150%;
    height: 70px;
    color: #f2f2f2;
    background-color: #f2f2f2;
}

.navbar-light .navbar-nav .nav-link {
    color: #0d0d0d;
    
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #0d0d0d;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #0d0d0d;
    border-bottom: 1px solid #0d0d0d;
    padding-bottom: 1px;
}

/* ------------------------- HERO IMAGE */

#main-image-container {
  background: url("../img/stafford_images/church_lane_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.jumbotron {
  background: transparent;
}

.hero-image-text {
  padding-top: 75px;
  padding-left: 30px;
  font-size: 300%;
  color: #f2bd1d;
  font-weight: bold;
  text-align: center;
}

/* ------------------------- PLACES TO BOXES */

/* TAB WIDET */

#tabs {
  font-family: "Bebas Neue", cursive;
}

.ui-widget-header {
  border: 1px solid #0d0d0d;
  background: #0d0d0d;
  color: #0d0d0d;
}

/*OPTION BOXES */

.places-to-box {
  border: 1px solid #0d0d0d;
  margin: 10px;
  padding: 20px;
  text-align: center;
  height: 300px;
  width: 100%;
  background: #f2f2f2;
}

/*MAP BUTTONS */

.ui-widget button {
  font-family: "Bebas Neue", cursive;
  font-size: 100%;
}

.map-button {
  border: 1px solid #0d0d0d;
  margin: 10px;
  padding: 20px;
  text-align: center;
  height: 100px;
  width: 100%;
  background: #0d0d0d;
  color: #f2f2f2;
}

/* ------------------------- MAP  */
#map {
  height: 490px;
}

/* ------------------------- WEATHERBOX */

.weatherbox1 {
  background-color: #f2f2f2;
  margin: 0px;
  padding: 20px;
  width: 25%;
  font-size: 70%;
  border: 1px solid #0d0d0d;
  text-align: center;
}

.weather-date {
  font-size: 200%;
}

.weather-temp {
  font-size: 500%;
}

.weather-description {
  font-size: 200%;
}

.weather-message {
  font-size: 200%;
}
