/* -------------------- SETTING OUT PAGE LAYOUT */

#hero-image-box {
    background-color: #f2f2f2;
    height: 300px;
    text-align:center;
    padding: 100px;
}

#introduction-box {
    background-color: green;
    height: 300px;
    text-align:center;
    padding: 100px;
}

#google-maps-box {
    background-color: blue;
    height: 300px;
    text-align:center;
    padding: 100px;
}

#weather-box {
    background-color: blueviolet;
    height: 300px;
    text-align:center;
    padding: 100px;
}

#footer-box {
    background-color: yellow;
    height: 300px;
    text-align:center;
    padding: 100px;
}

/* ------------------------------ FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive; 
    font-size: 200%;
}



/* ------------------------------ LOGO  */

#logo{
    height: 100px;
    width: 100px;
}

